In [10]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import numpy
import requests
import pymongo

In [2]:
url = "https://docs.google.com/spreadsheets/d/1zLNAuRqPauss00HDz4XbTH2HqsCzMe0pR8QmD1K8jk8/pubhtml/sheet?headers=false&chrome=false&gid=0&range=A3:I437"

In [3]:
df = pd.read_html(url)

In [4]:
df = df[0]

In [5]:
df.rename(inplace=True, columns={1:'District', 5:'2016', 7:'2012', 9:'2008'})

In [6]:
df = df[["District", "2016", "2012", "2008"]]
df.head()

  District  2016  2012  2008
0    AK-AL  52.8  55.3  59.7
1    AL-01  63.5  61.8  60.9
2    AL-02  64.9  62.9  64.5
3    AL-03  65.3  62.3  62.6
4    AL-04  80.4  74.8  73.3

In [7]:
def fixDistricts(district):
    state = district[0:2]
    distStr = district[3:5]
    if (distStr == 'AL'):
        distNum = 0
    else: distNum = int(distStr)
    newDist = state + '-' + str(distNum)
    return newDist

In [8]:
df['District'] = df['District'].apply(lambda x: fixDistricts(x))
df['geoData'] = ''
df.head()

  District  2016  2012  2008 geoData
0     AK-0  52.8  55.3  59.7
1     AL-1  63.5  61.8  60.9
2     AL-2  64.9  62.9  64.5
3     AL-3  65.3  62.3  62.6
4     AL-4  80.4  74.8  73.3

In [11]:
for row in numpy.arange(0, len(df)-1):
    district = df.iloc[row]["District"]
    geoDF = pd.read_json(requests.get('https://theunitedstates.io/districts/cds/2016/{0}/shape.geojson'.format(district)).text)
    geoData = geoDF.at['coordinates', 'geometry']
    df.iat[row, 4] = geoData[0][0]

In [12]:
df.head()

,District,2016,2012,2008,geoData
0,AK-0,52.8,55.3,59.7,"[[-152.312393188477, 57.36793518066414], [-152..."
1,AL-1,63.5,61.8,60.9,"[[-88.03498840332028, 30.522453308105487], [-8..."
2,AL-2,64.9,62.9,64.5,"[[-87.427204, 31.26436], [-87.425511, 31.26829..."
3,AL-3,65.3,62.3,62.6,"[[-86.577528, 33.801977], [-86.564208, 33.8019..."
4,AL-4,80.4,74.8,73.3,"[[-88.27005, 33.570819], [-88.269532, 33.57289..."

In [13]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [14]:
db = client.electionDB

In [19]:
def getColor(result):
    step = 100 / 19
    colorScale = {
        0: '#00008b',
        1: '#392098',
        2: '#583aa5',
        3: '#7255b2',
        4: '#8b6fc0',
        5: '#a38acc',
        6: '#baa7d9',
        7: '#d1c4e6',
        8: '#e8e1f3',
        9: '#ffffff',
        10: '#f7e4e0',
        11: '#eec9c1',
        12: '#e3afa3',
        13: '#d89686',
        14: '#cb7c6a',
        15: '#bc634f',
        16: '#ad4835',
        17: '#9d2d1c',
        18: '#8b0000'
    }
    valScale = round(result / step)
    return colorScale[valScale]

In [24]:
years = [2016, 2012, 2008]
geojson = {
    "type": "Feature",
    "properties": {
        "District": df.iloc[0]["District"],
        "Result": df.iloc[0]["2016"],
        "Winner": 'R' if df.iloc[0]["2016"] > 50 else 'D'
    },
        "style":{
        "color": "black",
        "fillColor": getColor(df.iloc[0]["2016"]),
        "opacity": 0.75
    },
    "geometry": {
        "type": "MultiPolygon",
        "coordinates": df.iloc[0]["geoData"]
    }
};
geojson

{'type': 'Feature',
 'properties': {'District': 'AK-0', 'Result': 52.8, 'Winner': 'R'},
 'style': {'color': 'black', 'fillColor': '#f7e4e0', 'opacity': 0.75},
 'geometry': {'type': 'MultiPolygon',
  'coordinates': [[-152.312393188477, 57.36793518066414],
   [-152.28575134277298, 57.39268112182621],
   [-152.26766967773398, 57.38982391357418],
   [-152.25718688964804, 57.38601684570312],
   [-152.25718688964804, 57.37840270996086],
   [-152.28575134277298, 57.36698150634766],
   [-152.311447143555, 57.36412811279301],
   [-152.312393188477, 57.36793518066414]]}}